/* Денис */
/* денис титул */
.title-denis {
  color: blue;
}

/* список ссылок */
.list-denis a {
  color: blue;
}
/* списки ссыллок денис */
.list-denis a:hover {
  color: rgb(47, 240, 9);
}

/* маркера у спикеров */
.mark-speackers {
  list-style: none;
}

/* красный див репеты */
.repeta-div1 {
  color: red;
}

/* красный цвет ссылок в блоке репета */
.repeta-div1 a {
  color: red;
}

.ul-repeta-1video a:hover {
  color: blue;
}

/* бледно красный цвет  */
.title-video2-html {
  color: rgb(224, 122, 114);
}

/* бледно красный цвет списка */
.title-video2-html a {
  color: rgb(224, 122, 114);
}

/* ховер ссылок второго видео репеты */
.title-video2-html a:hover {
  color: blue;
}
